/* backgrounds */

.bgblue {
  background-color: #0061ff;
  color: white;

}

.bgjumbotron {
  background-color: transparent;
  margin-top: 50px;
}

.bgform {
  background-color: white;
  margin-bottom: 100px;
  border-radius: 5px;
}

.bgsecdw {
  background-color: #f3f5f9;
}

.b {
  color: #031b4e;
}

.lb {
  color: #5b6987;
}

.w {
  color: white;
}
/* end backgounds */

/* nav */
.mslogo {
  height: 28px;
}

.msnav {
  margin-bottom: 0;
}

/* end nav */

/* jumbotron */

header h1, h3, section h2 {
  font-weight: bold;
}

section h3 {
  color: #031b4e;
}

section p {
  color: #5b6987;
}

section button {
  padding: 20px;
  border: none;
  border-left: 2px solid #e5e8ed;
  background-color: transparent;
  color: #5b6987;
  font-size: 16px;
}

section i {
  color: #0068ff;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.msformargin {
  margin-bottom: -12px;
}

.card  {
  position: relative;
}

.card-top {
  background-color: #f3f5f9;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-bottom p {
  position: absolute;
  bottom: 0;
  transform: translate(0, 170%);
}

.msformtext {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #f3f5f9;
}

/* end jumbotron */

/* buttons */

.msformbut {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  background-color: #0061ff;
  color: white;
  font-weight: bold;
  float:left;
  margin-bottom: 60px;
}

.msformbut2 {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
  background-color: white;
  color: #0061ff;
  font-weight: bold;
  float:left;
  border: 1px solid #0061ff;
  margin-bottom: 10px;
}

.msformbut3 {
  font-size: 16px;
  background-color: white;
  color: #0061ff;
  font-weight: bold;
  border: 1px solid #0061ff;
}

/* end buttons */

.row {
  margin-left: 0;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mssecpad {
  padding-bottom: 25px;
}

.msiconmarg {
  margin-right: 5px;
}

.mstextwe {
  font-weight: bold;
  font-size: 15px;
}

.msitextwe {
  font-size: 12px;
}

.msfs {
  font-size: 20px;
}

@media screen and (min-width: 768px ) {

  .mslogo {
    height: 20px;
  }
  
  section .text {
    text-align: left;
  }

}

@media screen and (min-width: 992px) {

  .bgjumbotron {
    margin-top: 100px;
    /* margin-bottom: 180px; */
    text-align: left;
  }

  .bgform {
    margin-top: 40px;
    margin-bottom: 40px;
  }


}
